@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hamilton Health Science Staff Portal gives opportunity to create a new patient and retrieve a list of existing patients.</p>
</div>
